<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{base :: head('Profile')}"></th:block>
    <link rel="stylesheet" href="/css/profile-page.css">
</head>
<body>
<header th:replace="~{base :: header}"></header>

<main>
    <div id="profile-layout">
        <div th:replace="~{profile-fragments :: profile-navigation}"></div>

        <div id="profile-content">
            <!-- Write content here -->
        </div>
    </div>
</main>

<footer th:replace="~{base :: footer}"></footer>
</body>
</html>