<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>

<main>
    <div id="profile-navigation" th:fragment="profile-navigation">
        <div class="profile-navigation-tab">
            <a href="/profile/" class="profile-navigation-tab-link">Profile</a>
        </div>
        <div class="profile-navigation-tab">
            <a href="/profile/" class="profile-navigation-tab-link">Purchase history</a>
        </div>
        <div class="profile-navigation-tab">
            <a href="/profile/" class="profile-navigation-tab-link">Account details</a>
        </div>
    </div>

    <div id="profile-content">
        This page is not meant to be served.
    </div>
</main>

</body>
</html>