<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <th:block th:replace="~{base :: head('Profile')}"></th:block>-->
<!--</head>-->
<body>
<!--<header th:replace="~{base :: header}"></header>-->

<main>
    <div id="profile-navigation" th:fragment="profile-navigation">
        This is the profile-fragments navigation section
    </div>

    <div id="profile-content">
        This page is not meant to be served.
    </div>
</main>

<!--<footer th:replace="~{base :: footer}"></footer>-->
</body>
</html>