<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{base :: head('Profile page')}"></th:block>
    <link rel="stylesheet" href="/css/profile/profile-page.css">
</head>
<body>
<header th:replace="~{base :: header}"></header>

<main>
    <div id="profile-layout">
        <div th:replace="~{profile/_fragments :: profile-navigation}"></div>

        <div id="profile-content">
            <div id="profile-page-tile">
                <div id="profile-page-tile-name" class="profile-page-tile-section">
                    <span class="profile-page-tile-label">Name: </span>
                    <span class="profile-page-tile-info" th:text="${user.firstName} + ' ' +${user.lastName}"></span>
                </div>
                <div id="profile-page-tile-email" class="profile-page-tile-section">
                    <span class="profile-page-tile-label">Email: </span>
                    <span class="profile-page-tile-info" th:text="${user.email}"></span>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{base :: footer}"></footer>
</body>
</html>