#inventory-form-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 60px;
}

#inventory-form-container h1 {
    font-weight: 550;
    width: fit-content;
    padding-bottom: 20px;
    border-bottom: 2px solid #dedede;
}

.form-row {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

label {
    width: 140px;
    font-weight: 550;
}

input {
    padding: 6px 8px;
}