#create-new-inventory-entry-form-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 60px;
}

.form-row {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

label {
    width: 160px;
    font-weight: 550;
}

input {
    padding: 6px 8px;
    flex: 1;
    max-width: 600px;
}