body {
    font-family: "Verdana", serif;
}
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}
#base-nav-top-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
}

#base-nav-top-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#base-nav-logo-box {
    flex: 1;
}

#base-nav-search-bar-box {
    display: flex;
    flex: 10;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 10px;
}

#base-nav-search-bar-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #cccccc;
}

#base-nav-user-section-box {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 20px;
}

.user-section-icon {
    max-width: 20px;
    max-height: 20px;
}

#base-nav-navigation {
    border-bottom: 1px solid #bbbbbb;
}

#base-nav-navigation-links {
    /*display: flex;*/
    /*flex-direction: row;*/
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    align-items: flex-start;
    background-color: #222222;
    margin: 0 0 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*#base-nav-navigation-links:hover {*/
/*    background-color: #111111;*/
/*}*/

.base-nav-navigation-link-list-item {
    width: 100%;
}

.base-nav-navigation-link, .base-nav-navigation-separator {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    background-color: #222222;
}

.base-nav-navigation-link:hover {
    text-decoration: underline white;
}
