body {
    font-family: "Verdana", serif;
}

#shopping-cart-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#shopping-cart-page-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#shopping-cart-page-top-container-title {
    align-self: flex-start;
    padding-left: 40px;
}

#cart-title {
    font-family: "Verdana", serif;
    font-size: 30px;
    font-weight: 550;
    text-align: left;
    padding-bottom: 15px;
}

#shopping-cart-page-top-container {
    display: flex;
    flex: 2;
    flex-direction: row;
    min-height: 400px;
    justify-self: center;
}

#cart-items {
    flex: 3;
    flex-direction: column;
    /*background-color: lightgreen;*/
    min-width: 800px;
    max-width: 800px;
    justify-self: center;
    /*border: 1px solid darkgrey;*/
    /*border-radius: 10px;*/
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}

#summary-section {
    display: flex;
    flex: 2;
    flex-direction: column;
    /*background-color: lightblue;*/
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    justify-self: center;
    border: 1px solid darkgrey;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}

#summary-title {
    text-align: left;
    font-weight: 550;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.summary-data {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.summary-data-label {
    flex: 50%;
    text-align: left;
}

.summary-data-value {
    flex: 50%;
    text-align: right;
    font-weight: 600;
}

#summary-section-line {
    display: block;
    height: 2px;
    color: #222222;
}

#estimated-total-label {
    font-weight: 550;
    font-size: 18px;
}

#estimated-total-value {
    text-align: right;
    font-weight: 550;
    font-size: 18px;
}

#purchase-button-surround {
    padding-top: 20px;
    padding-bottom: 10px;
}

#purchase-button {
    color: white;
    background-color: #333333;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    display: flex;
    padding: 15px;
    width: 100%;
}

#purchase-button:hover {
    background-color: #111111;
}

#shopping-cart-page-bottom {
    flex: 1;
    max-height: 300px;
    min-height: 300px;
}

#recommendations {
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: content-box;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid darkgrey;
}

.item-picture {
    flex: 1;
}

.item-details {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.item-title {
    font-family: "Verdana", serif;
    font-weight: 600;
    font-size: 16px;
}

.item-author {
    font-family: "Verdana", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}

.item-publishing-year {
    font-family: "Verdana", serif;
    font-weight: normal;
    font-size: 14px;
}

.item-no-pages {
    font-family: "Verdana", serif;
    font-weight: normal;
    font-size: 14px;
}

.item-price {
    font-family: "Verdana", serif;
    font-weight: 600;
    font-size: 17px;
    padding-top: 10px;
}

.item-remove-button-box {
    flex: 1;
}

.item-remove-button {
    color: white;
    background-color: #555555;
    border-radius: 7px;
    border-color: #666666;
    border-width: 2px;
    font-weight: bold;
    display: flex;
}

.item-remove-button:hover {
    background-color: #111111;
}