@import "summary-section.css";

#shopping-cart-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#shopping-cart-page-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#shopping-cart-page-top-container-title {
    align-self: flex-start;
    padding-left: 40px;
}

#cart-title {
    font-family: "Verdana", serif;
    font-size: 30px;
    font-weight: 550;
    text-align: left;
    padding-top: 15px;
}

#shopping-cart-page-top-container {
    display: flex;
    flex: 2;
    flex-direction: row;
    min-height: 400px;
    justify-self: center;
}

#cart-items {
    flex: 3;
    flex-direction: column;
    min-width: 800px;
    max-width: 800px;
    justify-self: center;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: content-box;
    height: auto;
    min-height: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid darkgrey;
}

.item-picture {
    flex: 1;
}

.item-details {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.item-title {
    font-family: "Verdana", serif;
    font-weight: 600;
    font-size: 16px;
}

.item-author {
    font-family: "Verdana", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}

.item-publishing-year {
    font-family: "Verdana", serif;
    font-weight: normal;
    font-size: 14px;
}

.item-no-pages {
    font-family: "Verdana", serif;
    font-weight: normal;
    font-size: 14px;
}

.item-price {
    font-family: "Verdana", serif;
    font-weight: 600;
    font-size: 17px;
    padding-top: 10px;
}

.item-remove-button-box {
    flex: 1;
}

#shopping-cart-page-bottom {
    flex: 1;
    min-height: 300px;
    max-height: 300px;
}

#recommendations {
    flex-direction: row;
}