body {
    font-family: "Verdana", serif;
}

h1 {
    font-size: 25px;
    font-weight: 550;
    justify-content: center;
    padding-bottom: 30px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: content-box;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.item-picture {
    flex: 1;
}

.item-details {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.item-title {
    font-family: "Verdana", serif;
    font-weight: 600;
    font-size: 16px;
}

.item-author {
    font-family: "Verdana", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}

.item-publishing-year {
    font-family: "Verdana", serif;
    font-weight: normal;
    font-size: 12px;
}

.item-no-pages {
    font-family: "Verdana", serif;
    font-weight: normal;
    font-size: 12px;
}

.item-price {
    font-family: "Verdana", serif;
    font-weight: 600;
    font-size: 17px;
    padding-top: 10px;
}

.item-remove-button-box {
    flex: 1;
}

.item-remove-button {
    color: white;
    background-color: dodgerblue;
    border-radius: 7px;
    border-color: cornflowerblue;
    border-width: 2px;
    font-weight: bold;
    display: flex;
}

#purchase-button-surround {
    padding-top: 30px;
    padding-bottom: 10px;
}

#purchase-button {
    color: white;
    background-color: darkslategray;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    display: flex;
    padding: 5px;
}