@import "summary-section.css";

#checkout-page-container {
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.checkout-section-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

#checkout-shipping-info-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 800px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#checkout-shipping {
    min-width: 500px;
}

.shipping-info-label {
    margin-right: 20px;
}

.shipping-info-text-field {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    outline: none;
    box-shadow: none;
}

.shipping-info-text-field:focus, .shipping-info-text-field:hover {
    border-color: #111111;
    border-width: 2px;
}

#checkout-summary-info-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#checkout-shipping-contact-information-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#checkout-shipping-address-name {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#checkout-shipping-address-country {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#checkout-shipping-address-city {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.checkout-shipping-share-row {
    width: 50%;
}