.cart-management-button {
    color: white;
    background-color: #555555;
    border-radius: 7px;
    border-color: #666666;
    border-width: 2px;
    font-weight: bold;
    display: flex;
}

.nice-button {
    color: white;
    background-color: #555555;
    border-radius: 7px;
    border-color: #666666;
    border-width: 2px;
    font-weight: bold;
    display: flex;
}

.cart-management-button:hover, .nice-button:hover {
    background-color: #111111;
}

body::-webkit-scrollbar {
    display: none; /* Chrome and a few other browsers */
}