<!DOCTYPE html>
<html lang="en">
<th:block th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Base html containing all the parts that should be on every page.</title>
    <link rel="stylesheet" href="/css/base-navigation.css">
    <link rel="stylesheet" href="/css/global.css">
</th:block>
<head>
    <meta charset="UTF-8">
    <title>Base html containing all the parts that should be on every page.</title>
    <link rel="stylesheet" href="/css/base-navigation.css">
</head>
<body>
    <header th:fragement="header">
        <div id="base-nav-top-bar">
            <div id="base-nav-top-bar-container">
                <div id="base-nav-logo-box">
                    <a href="/" style="text-decoration: none; color: inherit;">
                        <h1 style="margin: 0; font-size: 1.25rem;">Amazin</h1>
                    </a>
                </div>
                <div id="base-nav-search-bar-box">
                    <form id="base-nav-search-bar-form"
                          th:action="@{/search}"
                          method="get">
                        <label for="base-nav-search-bar-input" class="visually-hidden">Search</label>
                        <input id="base-nav-search-bar-input"
                               name="q"
                               placeholder="Search"
                               type="text"
                               size="100"
                               maxlength="150"
                               th:value="${q}">
                    </form>
                </div>
                <div id="base-nav-user-section-box">
                    <div id="base-nav-cart">
                        <a href="/cart">
                            <img id="shopping-cart-img" class="user-section-icon" src="/images/icons/shopping-cart.png" alt="Shopping cart image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="base-nav-navigation">
            <nav>
                <div id="base-nav-navigation-links">
                    <div class="base-nav-navigation-link-list-item"><a class="base-nav-navigation-link" href="/cart"><span>Cart</span></a></div>
<!--                    <div class="base-nav-navigation-link-list-item base-nav-navigation-separator"><span>|</span></div>-->
                    <div class="base-nav-navigation-link-list-item"><a class="base-nav-navigation-link" href="/"><span>Home</span></a></div>
                    <div class="base-nav-navigation-link-list-item"><a class="base-nav-navigation-link" href="/inventory"><span>Inventory</span></a></div>
                </div>
            </nav>
        </div>
    </header>
    <footer th:fragment="footer">
        <div id="base-nav-footer">
            <div id="base-nav-footer-container">
                <div id="base-nav-site-links"></div>
                <div id="base-nav-contact-about-links"></div>
            </div>
        </div>
    </footer>
</body>
</html>