<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{base :: head('Checkout page')}"></th:block>
    <link rel="stylesheet" href="/css/checkout.css">
</head>
<body>
    <header th:replace="~{base :: header}"></header>
    <main>
        <form id="checkout-form" action="/checkout/purchase" method="post">
            <div id="summary-section">
                <div id="summary-title">Order summary</div>
                <div id="subtotal" class="summary-data">
                    <div class="summary-data-label">Subtotal</div>
                    <div id="subtotal-value" class="summary-data-value">$0.00</div>
                </div>
                <div id="shipping" class="summary-data">
                    <div class="summary-data-label">Shipping</div>
                    <div id="shipping-value" class="summary-data-value">$0.00</div>
                </div>
                <div id="tax" class="summary-data">
                    <div class="summary-data-label">Tax</div>
                    <div id="tax-value" class="summary-data-value">$0.00</div>
                </div>
                <hr id="summary-section-line">
                <div id="estimated-total" class="summary-data">
                    <div id="estimated-total-label" class="summary-data-label">Estimated total</div>
                    <div id="estimated-total-value" class="summary-data-value">$0.00</div>
                </div>
                <div id="purchase-button-surround">
                    <input id="purchase-button" type="submit" value="Purchase">
                </div>
            </div>
        </form>
    </main>
    <footer th:replace="~{base :: footer}"></footer>
</body>
</html>