<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
    <link rel="stylesheet" href="/css/cart-management.css">
</head>
<body>
    <script src="/js/cart-management.js"></script>
    <header th:replace="~{base :: header}"></header>
    <h1>Shopping cart</h1>
    <hr>
    <form id="cart-form" action="/" method="get">
        <div id="cart-items"></div>
        <div id="purchase-button-surround">
            <input id="purchase-button" type="submit" value="Purchase" onclick="purchase(event)">
        </div>
    </form>
    <hr>
</body>
</html>