#profile-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    padding-top: 40px;
}

/* Profile Navigation Tab */
#profile-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 400px;
    margin-right: 60px;
    font-size: 15px;
}

.profile-navigation-tab {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
    align-items: center;
    padding: 10px 0 10px;
    border-bottom: 1px solid #dedede;
}

.profile-navigation-tab:first-child {
    border-top: 1px solid #dedede;
}

.profile-navigation-tab:hover {
    background-color: #f2f2f2;
}

.profile-navigation-tab-link {
    text-decoration: none;
    font-weight: 550;
    color: black;
    width: 100%;
    padding-left: 20px;
}

.profile-navigation-tab-link:visited {
    color: black;
}

/* Profile Content Section */
#profile-content {
    display: flex;
    width: 100%;
}