@import "_profile.css";

#profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0;
}

#profile-page-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
}